<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>企业概况</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="-1" http-equiv="Expires">
	<meta content="no-cache" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="Pragma">
	<meta property="qc:admins" content="34007776226210116655">
	<meta name="keywords" content="无纸化,无纸化会议,无纸化会议系统,无纸化会议软件,无纸化多媒体会议系统,电子桌牌,升降屏,升降触摸屏,升降桌牌,液晶电子桌牌,会议桌牌,智能电子桌牌,超薄升降一体机,超薄升降器,超薄高清升降一体机,无纸化办公,液晶升降屏,无纸化会议方案,无纸化会议厂家,无纸化会议系统厂家,无纸化会议系统方案,升降器,升降触控,触摸升降,触控升降,英飞,英飞数字,infree">
	<meta name="description" content="深圳英飞数字技术有限公司，国家高新认证企业，无纸化会议系统优质品牌！20年专业会议软件开发经验，提供行业稳定、实用的无纸化会议系统！电话：0755-86151919">
	<style>
		.title_line {
			position: absolute;
			top: 70px;
			left: 60px;
			height: 4px;
			width: 80px;
			background-color: #29b6f6;
		}
		.comp_title>span{
			position: relative;
			font-size: 24px;
			padding-left: 20px;
			line-height: 100px;
		}
		.comp_profile {
			margin-bottom: 60px;
		}
		.comp_content>p {
			text-indent: 2em;
			color: #909090;
			font-size: 15px;
			line-height: 30px;
		}
	</style>
</head>
<body>
    <section class="comp_profile">
		<div class="comp_title">
			<span>企业概况</span>
			<div class="title_line"></div>
		</div>
		<div class="comp_content">
			<p>深圳英飞数字技术有限公司，成立于2010年，国家高新技术企业、双软认证企业、深圳市科技创新企业，拥有数十项产品专利和软件产品著作权。英飞数字是国内无纸化会议行业领先品牌，是智能会议系统中具备影响力的企业之一。</p>
			<p>公司同时也是新加坡智码国际等无纸化数字应用技术的核心合作开发商，具有超高压缩数字技术开发能力。在与新加坡等海外企业对国际数字化、空间感应处理技术合作过程中，提出互联互通的无纸化智慧会议系统研发导向，将传统会议模式推向全面一体化智能会议体验时代。英飞通过绿色高科技解决方案，将引导无纸化、低碳会议系统进入一个全新时代。</p>
			<p>英飞将产品规划为四大系统，升降隐藏系统，会议指引系统、无纸化会议系统、会议集群管理系统，形成先进、智能的会议产品，高端大气的外观，强大稳定的功能使英飞产品能广泛满足于行政会议、指挥控制中心、星级酒店、高等教育、司法机构、企事业单位等各类会议室的应用与需求。凭借先进的技术、创新的产品以及对客户需求的精确把握，近年来拥有众多客户与成功案例。</p>
		</div>
	</section>
    <script>
        parent.document.title=document.title;
    </script>
</body>
</html>