<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>联系我们</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="-1" http-equiv="Expires">
	<meta content="no-cache" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="Pragma">
	<meta property="qc:admins" content="34007776226210116655">
	<meta name="keywords" content="无纸化,无纸化会议,无纸化会议系统,无纸化会议软件,无纸化多媒体会议系统,电子桌牌,升降屏,升降触摸屏,升降桌牌,液晶电子桌牌,会议桌牌,智能电子桌牌,超薄升降一体机,超薄升降器,超薄高清升降一体机,无纸化办公,液晶升降屏,无纸化会议方案,无纸化会议厂家,无纸化会议系统厂家,无纸化会议系统方案,升降器,升降触控,触摸升降,触控升降,英飞,英飞数字,infree">
	<meta name="description" content="深圳英飞数字技术有限公司，国家高新认证企业，无纸化会议系统优质品牌！20年专业会议软件开发经验，提供行业稳定、实用的无纸化会议系统！电话：0755-86151919">
	<style>
		.title_line {
			position: absolute;
			top: 70px;
			left: 60px;
			height: 4px;
			width: 80px;
			background-color: #29b6f6;
		}
		.comp_title>span{
			position: relative;
			font-size: 24px;
			padding-left: 20px;
			line-height: 100px;
		}
	</style>
</head>
<body>
    <section class="cont_us">
		<div class="comp_title">
			<span>联系我们</span>
			<div class="title_line"></div>
		</div>
	</section>
    <script>
        parent.document.title=document.title;
    </script>
</body>
</html>