<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>发展历程</title>
    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
      name="viewport"
    />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="-1" http-equiv="Expires" />
    <meta content="no-cache" http-equiv="Cache-Control" />
    <meta content="no-cache" http-equiv="Pragma" />
    <meta property="qc:admins" content="34007776226210116655" />
    <meta
      name="keywords"
      content="无纸化,无纸化会议,无纸化会议系统,无纸化会议软件,无纸化多媒体会议系统,电子桌牌,升降屏,升降触摸屏,升降桌牌,液晶电子桌牌,会议桌牌,智能电子桌牌,超薄升降一体机,超薄升降器,超薄高清升降一体机,无纸化办公,液晶升降屏,无纸化会议方案,无纸化会议厂家,无纸化会议系统厂家,无纸化会议系统方案,升降器,升降触控,触摸升降,触控升降,英飞,英飞数字,infree"
    />
    <meta
      name="description"
      content="深圳英飞数字技术有限公司，国家高新认证企业，无纸化会议系统优质品牌！20年专业会议软件开发经验，提供行业稳定、实用的无纸化会议系统！电话：0755-86151919"
	/>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/path.css" />
  <script src="../js/jquery.min.js"></script>
  <script src="../js/modernizr.js"></script>
  </head>
  <body>
    <section class="cd-horizontal-timeline">
      <div class="timeline">
        <div class="events-wrapper">
          <div class="events">
            <ol>
              <li>
                <a href="#0" data-date="01/01/2010" class="selected">2010</a>
              </li>
              <li><a href="#0" data-date="01/01/2011">2011</a></li>
              <li><a href="#0" data-date="01/01/2012">2012</a></li>
              <li><a href="#0" data-date="01/01/2013">2013</a></li>
              <li><a href="#0" data-date="01/01/2014">2014</a></li>
              <li><a href="#0" data-date="01/01/2015">2015</a></li>
              <li><a href="#0" data-date="01/01/2016">2016</a></li>
              <li><a href="#0" data-date="01/01/2017">2017</a></li>
            </ol>

            <span class="filling-line" aria-hidden="true"></span>
          </div>
          <!-- .events -->
        </div>
        <!-- .events-wrapper -->
		<i class="fa fa-chevron-left" aria-hidden="true"></i>
        <ul class="cd-timeline-navigation">
          <li><a href="#0" class="prev inactive"></a></li>
          <li><a href="#0" class="next"></a></li>
        </ul>
        <!-- .cd-timeline-navigation -->
      </div>
      <!-- .timeline -->

      <div class="events-content">
        <ol>
          <li class="selected" data-date="01/01/2010">
            <span>2010</span>
            <p>
				公司在2010年7月28日正式成立，但在正式成立之前，英飞团队的建设也完成，其中加入英飞的人员有来自华为、中兴、腾讯的高级软件硬件工程师、有来自大中院校在各种行业中沉淀过的技术人才，从而公司组建了软件部、硬件部、测试部，公司成立后全面进行软硬件的开发工作；
            </p>
            <div style="margin-top: 20px; text-align: center; width: 100%"><img src="../images/credentials/yyzz.jpg" alt=""></div>
          </li>

          <li data-date="01/01/2011">
            <span>2011</span>
            <p>
				在一年后，英飞经过长达万次的系统测试，成功研发出行业优先的智能电子桌牌，该桌牌采用美国飞斯卡尔的主控芯片，安卓系统，高度集成的硬件功能，成就了多项行业领先，如：行业优先采用智能芯片的电子桌牌、行业优先采用智能系统、行业采用有线与WIFI同时组网、行业优先采用10点电容触控技术；同年英飞进行了无纸化会议系统的测试与研发工作，成立了市场部；
            </p>
          </li>

          <li data-date="01/01/2012">
            <span>2012</span>
            <p>
				英飞率先推出基于安卓系统的无纸化会议系统，实现了多种技术的突破，为以后的系统丰富完善积累了技术沉淀，该系统以智能触控显示终端为中心，整合排位系统、信息发布、多会议预置、签到系统、文件分发、书写系统、信号交互、会中控制、智能表决、会议服务、会议保存共计十一大功能，形成一个“以人为本”的智能化会议体验。其最大程度地在智能触控显示终端上集成会议室的设备和功能，并以模拟仿真的UI形式提供给用户最自然的人机交互界面，实现了对整个会议室系统的一屏控制；同时还实现了与传统会议室各种信号互联互通。这套系统将很多功能集成到一起，对所有会议室的需求用一套系统予以满足，成为一个<strong>智能化的会议系统</strong>。
			</p>
			<p>
				这套系统形象地比喻成一个大的iPad。iPad面向个人，将个人的很多功能都集成到一起，而Infree则是<strong>面向会议室，将会议室内的各种功能集成在一个屏幕上，实现会议的智能集成</strong>。
            </p>
          </li>

          <li data-date="01/01/2013">
            <span>2013</span>
            <p>
				在进入电子桌牌系统的生产销售过程中，英飞成立了北京、上海、广州、深圳、成都、武汉、沈阳、济南、南京办事处，提供全面的产品与技术服务，在电子桌牌领域，完成了2010型、2020型产品磨具化生产，流水式组装，其销量遥遥领先与其他同行产品，在软件功能上，实现了多会模式、自动导入模式、会议预置模式、单机操作模式等创新，大大提高了用户使用的方便性、快捷性；
			</p>
			<p>
				同年英飞开发出基于windows系统的无纸化会议系统，在图像传输上与新加坡超高压视频处理团队合作，开发出广播级的视频同步系统，此系统不在受带宽、数量的限制，实现高速的视频同步播放；
            </p>
          </li>

          <li data-date="01/01/2014">
            <span>2014</span>
            <p>
				同年英飞制造出全行业领先的分体式超薄触控升降一体机，该机型采用独有信号驱动技术，电源净化技术，完美的解决了传统升降行业不能独立制造触控显示屏的技术瓶颈，大大地提供了液晶屏升降器的稳定性与增强了会议室整体的美观与大方；同时配合无纸化会议系统软件，让会议室真正实现了无纸化召开会议；
            </p>
          </li>

          <li data-date="01/01/2015">
            <span>2015</span>
            <p>
				公司获得了多项软件著作权，取得了软件企业认证证书。在研发上为了实现各个平台直接的协同操作，英飞将安装系统、windows系统、IOS系统进行相互打通，实现了夸平台操作，更方便了各种用户的需要。
			</p>
			<p>
				英飞销售的产品有：智能电子桌牌、超薄升降一体机、升降式无纸化会议系统、桌面式无纸化会议系统、无纸化会议系统软件等。
            </p>
          </li>

          <li data-date="01/01/2016">
            <span>2016</span>
            <p>
				英飞取得了国家高新企业认证，获得深圳市创新企业荣誉，公司同年进行了股份制改革，公司从最初的12人发展到120人，成为全行业成熟的无纸化会议研发、生产商；公司在软件上进行了会议集群的开发，实现会议预约、会议申请、会议审批、会议发布等功能模块的开发与测试，也具备进入市场销售阶段；公司在硬件上实现了各种屏幕尺寸的生产，并且在单面触控，双面触控的生产销售过程中遥遥领先于同类产品；
            </p>
          </li>

          <li data-date="01/01/2017">
            <span>2017</span>
            <p>
				为了满足大量客户的需求，英飞加大了对生产线的投入，从1200平米的生产车间增加到3000平米的生产办公环境；目前英飞公司分为：软件部、硬件部、生产部、测试部、办公室、物流部、财务部、销售中心等多部门，在提供软件定制开发与服务能力上做出新的贡献；
            </p>
          </li>
        </ol>
      </div>
      <!-- .events-content -->
    </section>
    <script src="../js/jquery.mobile.custom.min.js"></script>
    <script src="../js/main.js"></script>
    <script>
      parent.document.title = document.title;
    </script>
  </body>
</html>
