<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>英飞新闻</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<meta content="-1" http-equiv="Expires">
	<meta content="no-cache" http-equiv="Cache-Control">
	<meta content="no-cache" http-equiv="Pragma">
	<meta property="qc:admins" content="34007776226210116655">
	<meta name="keywords" content="无纸化,无纸化会议,无纸化会议系统,无纸化会议软件,无纸化多媒体会议系统,电子桌牌,升降屏,升降触摸屏,升降桌牌,液晶电子桌牌,会议桌牌,智能电子桌牌,超薄升降一体机,超薄升降器,超薄高清升降一体机,无纸化办公,液晶升降屏,无纸化会议方案,无纸化会议厂家,无纸化会议系统厂家,无纸化会议系统方案,升降器,升降触控,触摸升降,触控升降,英飞,英飞数字,infree">
    <meta name="description" content="深圳英飞数字技术有限公司，国家高新认证企业，无纸化会议系统优质品牌！20年专业会议软件开发经验，提供行业稳定、实用的无纸化会议系统！电话：0755-86151919">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/news.css">
</head>
<body>
    <section>
        <div class="news_head">
            <div class="row news_name">
                <h3 class="box-title">英飞新闻</h3>
                <div class="title_line"></div>
            </div>
            <div class="news_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入新闻关键字...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">搜索</button>
                    </span>
                </div>
                <select class="form-control">
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
        </div>
    </section>
    <section class="news_items">
        <div class="news_item">
            <div class="news_img"><img src="../images/news/1602143704402734.jpg" alt=""></div>
            <div class="news_text">
                <span class="news_title">
                    科电大厦科学研究院
                </span>
                <span class="news_date">日期: 2020-10-08</span>
                <span class="news_content">
                    为解决传统会议信息办公管理和会议质量上的不便。科电大厦科学研究院决定采用无纸化会议系统，用于会议室的会前准备，会中管理以及会后归档，提高整个会议流程进行高效便捷的控制。经过对市场众多会议系统的考察，最终采用了我公司自主研发无纸化会议系统。 
                    <a href="#">【详情】</a>
                </span>
            </div>
        </div>
    </section>
    <section class="pagenum">
        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
    </section>
    <script>
        parent.document.title=document.title;
    </script>
</body>
</html>