{extend name="./common/base"}
{block name="title"}电子会议桌面桌牌-无纸化会议系统厂家-超薄液晶屏升降器一体机-深圳英飞数字技术{/block}
{block name="content"}
    <!-- slider -->
    <div id="slider">
        <!-- revolution slider begin -->
        <div class="fullwidthbanner-container">
            <div id="revolution-slider-3">
                <ul>
                    <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="__STATIC__/img-rev-slider/1.jpg" alt="">

                        <div class="tp-caption lft custom-font-2"
                            data-x="center"
                            data-y="184"
                            data-speed="800"
                            data-start="800"
                            data-easing="easeInOutCubic">
                            You Think Big
                        </div>

                        <div class="tp-caption sfb custom-font-1"
                            data-x="center"
                            data-y="250"
                            data-speed="800"
                            data-start="1400"
                            data-easing="easeInOutCubic">
                            You Get Big
                        </div>

                        <div class="tp-caption sfb"
                            data-x="center"
                            data-y="330"
                            data-speed="800"
                            data-start="1600"
                            data-easing="easeInOutCubic">
                            <a class="btn btn-slider" href="#">Buy Theme</a>
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="__STATIC__/img-rev-slider/2.jpg" alt="">

                        <div class="tp-caption lft custom-font-2"
                            data-x="center"
                            data-y="184"
                            data-speed="800"
                            data-start="800"
                            data-easing="easeInOutCubic">
                            We Are Make
                        </div>

                        <div class="tp-caption sfb custom-font-1"
                            data-x="center"
                            data-y="250"
                            data-speed="800"
                            data-start="1400"
                            data-easing="easeInOutCubic">
                            The Best Theme
                        </div>

                        <div class="tp-caption sfb"
                            data-x="center"
                            data-y="330"
                            data-speed="800"
                            data-start="1600"
                            data-easing="easeInOutCubic">
                            <a class="btn btn-slider" href="#">Buy Theme</a>
                        </div>
                    </li>

                    <li data-transition="fade" data-slotamount="7" data-masterspeed="2500" data-delay="5000">
                        <!--  BACKGROUND IMAGE -->
                        <img src="__STATIC__/img-rev-slider/3.jpg" alt="">

                        <div class="tp-caption lft custom-font-2"
                            data-x="center"
                            data-y="184"
                            data-speed="800"
                            data-start="800"
                            data-easing="easeInOutCubic">
                            And You Will
                        </div>

                        <div class="tp-caption sfb custom-font-1"
                            data-x="center"
                            data-y="250"
                            data-speed="800"
                            data-start="1400"
                            data-easing="easeInOutCubic">
                            Love Compact
                        </div>

                        <div class="tp-caption sfb"
                            data-x="center"
                            data-y="330"
                            data-speed="800"
                            data-start="1600"
                            data-easing="easeInOutCubic">
                            <a class="btn btn-slider" href="#">Buy Theme</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- revolution slider close -->
    </div>
    <!-- slider close -->

    <div class="clearfix"></div>

     <!-- content begin -->
    <div id="content" class="no-padding">
        <!-- section begin -->
        <section id="section-featured">
            <div class="container">
                <div class="row">
                    <h2 class="box-title">系列产品</h2>
                    <div class="tiny-border"></div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product no-margin">
                            <div class="img"><img src="__STATIC__/images/product/wu.jpg" alt="无纸化会议"></div>
                            <span>无纸化会议</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product no-margin">
                            <div class="img"><img src="__STATIC__/images/product/dian.jpg" alt="电子桌牌"></div>
                            <span>电子桌牌</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product no-margin">
                            <div class="img"><img src="__STATIC__/images/product/sheng.jpg" alt="超薄升降一体机"></div>
                            <span>超薄升降一体机</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="product no-margin">
                            <div class="img"><img src="__STATIC__/images/product/ruan.jpg" alt="平板软件"></div>
                            <span>平板软件</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->

        <!-- section begin -->
        <section id="section-about" class="bg-grey">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <img src="__STATIC__/images/company.jpg" alt="about image" class="img-responsive">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="about-box">
                            <h2 class="box-title">关于英飞</h2>
                            <div class="tiny-border"></div>
                            <p>深圳英飞数字技术有限公司，成立于2010年，国家高新技术企业、双软认证企业、深圳市科技创新企业，拥有数十项产品专利和软件产品著作权。英飞数字是国内无纸化会议行业领先品牌，是智能会议系统中具备影响力的企业之一。</p>
                            <ul class="list-style-1">
                                <li>具有超高压缩数字技术开发能力。</li>
                                <li>提出互联互通的无纸化智慧会议系统研发导向。</li>
                                <li>将传统会议模式推向全面一体化智能会议体验时代。</li>
                                <li>将引导无纸化、低碳会议系统进入一个全新时代。</li>
                            </ul>
                            <div class="divider-single"></div>
                            <a href="about_infree.html?key=1" class="btn btn-primary btn-small">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->

        <!-- section begin -->
        <section id="section-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <h2 class="box-title">最新项目</h2>
                            <div class="tiny-border"></div>
                        </div>
                        <div class="clearfix"></div>

                        <div id="projects-grid" class="projects-grid">
                            {foreach $latest_case as $key=>$item }
                            <div class="project-item">
                                <div class="project-item-inner">
                                    <img src="__STATIC__{$item.img}" alt="" class="img-responsive">
                                    <div class="project-details">
                                        <p class="folio-title"><a href="#">{$item.title}</a></p>
                                        <p class="folio-cate"><i class="fa fa-calendar"></i>{$item.addtime}</p>
                                        <div class="folio-buttons">
                                            <a href="__STATIC__{$item.img}" title="{$item.title}" class="folio"><i class="fa fa-search"></i></a>
                                            <a href="#"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/foreach}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section close -->
    </div>
{/block}

